@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background:white;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 15px;
}

.logo {

    width: 80px;
    height: 80px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    font-weight: 600;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
}

.nav-item:hover {
    transform: scale(1.1)
}

.nav-link {
    text-decoration: none;
    color: #242424;
    transition: .5s;
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: #242424;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.nav-link:hover:after {
    background-color: #242424;
    width: 100%;
}

.nav-link:hover {
    color: #242424;
}

.nav-bar .login-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 23px;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.login-button button:hover {
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.login-button a {
    text-decoration: none;
    color: #242424;
}

.login-button a:hover {
    text-decoration: none;
    color: white;
}

.mobile-menu .login-button button {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
}

.mobile-menu .login-button button:hover{
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        color: #242424;
        border: none;
        cursor: pointer;
    }

    .icon {
        margin-top: 15px;
        width: 40px;
    }
    
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .mobile-menu .login-button a {
        text-decoration: none;
        color: #242424;
    }

    .open{
        display: block;
    }
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: auto;
}

.gallery h1 {
    position: relative;
    color: #242424;
    font-size: 40px;
    font-weight: 700;
    margin-top: 7px;
}

.gallery #seta {
    transform: rotate(90deg);
    margin-top: 45px;
}

.formulario1 {
    background-color: #F79824;
    padding-inline: 40px;
}

.formulario {
    margin-left: 2px;
}

.ou {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    font-weight:bold;
    text-align: center;
    margin-top: 20px;
    
}

.campo input {
    background: white;
    border:0px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 40px;
    
}

.campo input{
    background: white;
    border:0px solid;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 60px;
    
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
}

form label {
    font-weight: 600;
    font-size: 13px;
}

.btn {
    background: #D46412;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;

}

.btn:hover {
    color: white;
    background-color: #242424;

}

.enviar {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background: #D46412;
    color: white;
    display: block;
}
.enviar:hover {
    color: white;
    background-color: #af5210;

}

.upload {
    padding-block: 10px;
    width: 180px;
    height: 40px;
    margin-top: 0px;
    background: white;
    color: #706464;
}

.redirect-upload {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-left: 25px;
}

.redirect-upload p {
    font-weight: 600;
    color: white;
}

.redirect-upload img {
    transform: rotate(-180deg);
    margin-top: 4px;
    margin-right: 2px;
}

label {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
    color: white;
}

.codigo {
    top: 0px;
}

.foto-form {
    height: 600px;
    border-radius: 0;
    object-fit: cover;
}

.formulario-completo {
    background-color: #F79824;
}

#input-file {
    display: none;
}

.file {
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 20px;
}
.imagem-codigo {
    padding-bottom: 10px;
}

.imagem-form {
    background-image: url(/IMAGENS/mulher-esta-contando-dinheiro-com-seu-telefone\ 1.png);
}
.subtitle{
    margin-top: 60px;
    margin-left: 60px;
}
#insert-data{
    margin-top: 50px;
}
.cnpj{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 40px;

}
#descrição-semeador {
    margin-left: 60px;
}
