/* geral */
html{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, p, span{
    margin: 0;
    color: #242424;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%
}

/* navbar */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

nav:after{
    clear:both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    position: absolute;
    right: 1170px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
    margin-right: 350px;
    
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
    margin-right: 400;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.0);
}

.nav-container li:hover {
    transform: scale(1.1)
}

.nav-container li a {
    text-decoration: none;
    color: #242424;
    transition: .5s;
    
}

.nav-container a :hover {
    color: #242424;
}

.agendar-visita {
    border: solid 1px #6D6D6D;
    background-color: white;
    border-radius: 3px;
    font-size: 13px;
    padding: 6px 18px;
    color: #242424;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 10px;
    transition: transform 0.5s, background-color 0.3s ease-out 10ms;
  transform: translateX(0) scale(1);
  

} 

.agendar-visita:hover {
    border: solid 1px #F79824 ;
    background-color: #F79824;
    color: white;
    transform: scale(1.1)
    

}

#main-banner {
    background: url(img/IMG-fundo-pag-inicial.png) no-repeat;
    background-position: 0 55%;
    position: relative;
    margin-top: 0px;
    background-size: cover;
    flex-shrink: 0;

}

#banner {
    font-family: 'Poppins';
}

#banner h1 {
    color: white;
    flex-shrink: 0;
    font-size: 50px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 600;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#banner p {
    color:white;
    font-size: 10px;
    font-weight: 100px;
    padding-bottom: 20px ;
    position: relative;
}

.veja-mais {
    background-color: #F79824;
    color: white;
    border: #F79824;
    border-radius: 4;
    padding: 6px 16px;
    font-family: 'poppins', sans-serif;
    position: relative;

}

.veja-mais:hover {
    background-color: #242424;
    border: #242424;
    color: white;
}

#banner {
    position: relative;
    width: 50%;
    margin-left: auto ;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gallery h1 {
    position: relative;
    color: #242424;
    font-size: 60px;
    margin-left: 20px ;
}

#gallery #seta {
    position: absolute;
    top: 660px;
    left: 230px;
    transform: rotate(90deg);
}

.redirect-message {
    text-align: center;
}


.gallery-container {
    position: relative;
    width: 1300px;
    height: 1400px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.gallery-items img {
    width: 350px;
    height: 350px;
    margin: 40px;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.gallery-items img:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);


}

.rectangle,
.rectangle * {
  box-sizing: border-box;
}
.rectangle {
  background: #d9d9d9;
  width: 599px;
  height: 4px;
  position: relative;
  margin-bottom: 30px;
  margin-left: 370px;
}

.text-message{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 500px;
    
}

.projects {
    font-family: "Poppins";
    position: relative;
    color: #242424;
    font-size: 40px;
    margin-left: 20px ;
    display: flex;
}

.projects #seta {
    transform: rotate(90deg);
    margin-top: 40px;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content:space-around;
    margin-left: 80px;
    margin-top: 40px;

}

.card-content {
    font-size: 15px;
}

.card {
    margin: 20px;
    margin-bottom: 100px;
    background: #F3F3F3;
    padding-bottom: 30px;
    width: 300px;
    transition: 500ms linear; 
}

.card:hover {
    box-shadow:
                1px 1px #6D6D6D,
                2px 2px #6D6D6D,
                3px 3px #6D6D6D;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    
}

.card h1 {
    margin-left: 10px;
}

.card p {
    font-size: 11px;
    width: 270px;
    margin-left: 10px;
}

.card img {
    width: 300px
}

footer {
    width: 100%;
    color: white;
    font-family: 'Poppins';
}

.footer-content {
    background-color: #F79824;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 1.5rem;
    margin-top: 50px;
}

.footer-coluna-1{
    width: 200px;
    margin-top: 35px;
    margin-left: 50px;
}

.footer-coluna-1 p {
    font-size: 16px;
    text-align: center;
}

.footer-coluna-2 {
    margin-left: 140px;
    margin-top: 14px;
}

.footer-coluna-2 p{
    font-size: 11px;
}

.footer-coluna-3 {
    margin-left: 120px;
    margin-top: 14px;
}

footer ul {
    margin-bottom: 15px;
}

.footer-social-media {
    display: flex;
    gap: 1rem;
    margin-left: 24px;
    margin-top: 5px;
}
 .nav-footer {
    position: absolute;
    left: 860px;
    list-style: none;
    font-family: 'Poppins';

    
 }


 footer h1 {
    font-size: 20px;
    color: white;
 }

 footer p {
    font-size: 11px;
    color: white;
 }

 footer a {
    color: white;
    font-size: 12px;
 }

 .footer-copyright {
    background: #F79824;
    font-size: 10px;
    padding: 4px;
    text-align: center;
    color: white;
 }
